/* General Setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    padding: 4rem 1rem;
    max-width: 1000px;
    margin: auto;
}

/* Header */
header{
    background-color: #333;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
   width: 100%;
    height: auto;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
header nav a{
    font-weight: bold;
}
.resume-btn{
    font-weight: bold;
    background-color:#f4f4f4 ;
    color: #333;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    border:none;
    height: 50px;
    width: 150px;
}
    
/* Hero */
.hero{
    margin-top: 100px;
    text-align: center;
    background-color: #f4f4f4;

}